/* .navbar{
    background-color:var(--theme);
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}
.link{
    opacity: 0.8;
    cursor: pointer;
}
.link:hover{
    opacity: 1;
    transition: all 0.3s;
} */


/* .navbar{
    background-color: var(--theme);
    padding: 1rem 1.5rem;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.logo{
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
}
.logout-btn{
    color: var(--white);
    cursor: pointer;
    width: 20px;
}
img.UserProfileImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
} */

.navbar {
    position: sticky;
    width: 100%;
    padding: 0.75rem 1.5rem;
    background-color: var(--theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-heading {
    color: #fff;
    font-weight: 500;
    margin: 0px;
    font-size: 1.2rem;
  }
  .navbar-link {
    color: #e3e3e3;
    font-weight: 500;
    margin: 0px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-link:hover {
    color: #fff;
    transition: all 0.3s;
  }

  /* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem 1rem;
    }
  
    .navbar-heading {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
  
    .navbar-link {
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    .navbar-heading {
      font-size: 1rem;
    }
  
    .navbar-link {
      font-size: 0.8rem;
    }
  }


